@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

@import "tailwindcss";


:root {
  --background:#f8f1e7;
  --foreground:#1f2937;
}


* {
  box-sizing:border-box;
}


html {
  scroll-behavior:smooth;
}



body {

  margin:0;

  color:var(--foreground);

  background:

  linear-gradient(
    rgba(248,241,231,0.92),
    rgba(248,241,231,0.92)
  ),

  url("/images/vietnam-map.png");


  background-size:cover;

  background-position:center;

  background-attachment:fixed;


  font-family:
  Arial,
  Helvetica,
  sans-serif;

}



/* CHỈ DÙNG CHO LOGO MAYAAA */

.logo-font {

  font-family:
  "Allura",
  cursive;

}



/* Tiêu đề bình thường */

h1,
h2,
h3 {

  font-family:
  Arial,
  Helvetica,
  sans-serif;

}



a {

  transition:all .3s ease;

}



header {

  backdrop-filter:blur(10px);

}



::-webkit-scrollbar {

 width:10px;

}


::-webkit-scrollbar-track {

 background:#f8f1e7;

}


::-webkit-scrollbar-thumb {

 background:#14532d;

 border-radius:20px;

}